[user]
	name = Deyao Chen
	email = chendeyao000@gmail.com
	signingkey = Deyao Chen
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = true
[core]
	autocrlf = input
[init]
	defaultbranch = main
